<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../SalsaVerde/bundle.css" />
    <style>
        .usato {
            background-color: darkgrey;
        }

        .nuovo {
            background-color: aquamarine;
        }

        .txt-blu {
            color: blue;
        }

        .txt-black {
            color: black;
        }

        .txt-gray {
            color: gray;
        }

        .chip {
            padding: .5rem;
            margin: 0 .5em;
            border-radius: 8px;
            background-color: azure;
        }
    </style>
</head>

<body>
    <div id="myapp">
        {{tavolo.zampe}}
        <h1 class="{{ $.conto % 2 != 0 ? 'txt-blue' : 'txt-black' }}" sv-model="title"></h1>
        <p class="txt-gray">{{ subtitle }}</p>
        <input type="text" placeholder="sottotitolo" sv-model="title" />
        <div style="display:flex; flex-direction: row;">
            <p sv-model="data">{{ data }}</p>
        </div>
        <button sv-on="click -> setAlert('messaggio da evento')"><span sv-model="tasto"></span></button>
        <div name="ciccio" sv-on="click -> changeTitle(e);"
            style="padding:1rem; margin:.5rem; cursor: pointer; background-color: blue; color: lightgray;">switch title
        </div>
        <button sv-on="click -> $.conto += 1"> conto dinamico: <span sv-model="conto"></span></button>
        <br />
        <br />
        <button sv-on="click -> addItem()">aggiungi</button>
        <button sv-on="click -> removeLast()">rimuovi</button>
        <div style="display:flex; flex-direction:row;">
            <ul sv-if="!($.conto % 2)">
                <li sv-for="item in lista" sv-sort="item.id desc" data-value="{{ item.id }}" name="{{ :index }}">{{ item.name }}</li>
            </ul>
            <p style="margin: 1rem;" sv-elseif="$.conto == 3">prova di continuità<br /> della logica if-else</p>
            <ul sv-else>
                <li sv-for="item in semplice" sv-sort="item">{{ item }} {{ :index }}</li>
            </ul>
        </div>
        <ol>
            <li sv-for="item in lista" sv-filter="(item.id + $.conto) % 2 == 0">{{ item.name }} - {{ $.conto }}</li>
        </ol>
        <div>
            <span class="chip" sv-for="item in semplice" sv-sort="item">{{ item }}</span>
        </div>

        <!-- <div class="usato" style="border: solid 1px black; border-radius: 8px; padding: 1rem; margin: 1rem;">
            <h1>Il nostro tavolo</h1>
            <p><strong>tipologia di copertura: </strong><span sv-model="tavolo.copertura"></span></p>
            <p><strong>n° zampe: </strong><span sv-model="tavolo.zampe"></span></p>
            <button sv-on="click -> $.tavolo.nuovo = !$.tavolo.nuovo">
                <span sv-if="$.tavolo.nuovo">USA</span>
                <span sv-else>RINNOVA</span>
            </button>
        </div> -->
    </div>
    <script src="../SalsaVerde/salsaverde.global.js"></script>
    <script name="app_test" type="text/javascript">

        var myapp;
        openKiosk("myapp").reserve({
            data: {
                title: "Applicazione di prova",
                subtitle: "sottotitolo dell'applicazione",
                tasto: "Riproduci alert di sistema",
                data: new Date(),
                conto: 0,
                lista: [
                    { id: 1, name: "elemento 1" },
                    { id: 2, name: "elemento 2" },
                    { id: 3, name: "elemento 3" },
                    { id: 4, name: "elemento 4" }
                ],
                semplice: ["1 pillola", "6 pillola", "5 pillola"],
                hover: false,
                tavolo: {
                    zampe: 4,
                    copertura: "tovaglia",
                    materiale: "legno",
                    durezza: 10,
                    nuovo: false
                }
            },
            demands: {
                formatter: {
                    type: svenum.datatypes.date,
                    stamp: (value) => {
                        let _options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        return value.toLocaleDateString("it-IT", _options);
                    }
                }
            }
        }).globalize({ myapp });

        function setAlert(messaggio) {
            svglobal.claim(messaggio);
        }
        function changeTitle(evt) {
            // alert(evt.target.getAttribute("name"));
            switch (myapp.dataset.title) {
                case "cambio titolo!": myapp.dataset.title = "Applicazione di prova"; break;
                case "Applicazione di prova": myapp.dataset.title = "cambio titolo!"; break;
            }
        }

        function addItem() {
            myapp.dataset.lista.push({ id: myapp.dataset.lista.length + 1, name: "elemento " + (myapp.dataset.lista.length + 1).toString() });
            myapp.dataset.semplice.push((myapp.dataset.semplice.length + 5) + " pillole");
        }
        function removeLast() {
            myapp.dataset.lista.pop();
            myapp.dataset.semplice.pop();
        }

    </script>
</body>

</html>